<div>

    <h2>Creeate Vehicule : </h2>

    <form class="container w-50">
        <div class="form-group">
            <label for="1">Plate Number</label>
            <input type="text" class="form-control" id="1" placeholder="Enter Plate Number">
        </div>
        <div class="form-group">
            <label for="2">Price</label>
            <input type="number" class="form-control" id="2" placeholder="Enter Price">
        </div>
        <div class="form-group">
            <label for="3">Model</label>
            <input type="number" class="form-control" id="3" placeholder="Enter Model">
        </div>
        <div class="form-group">
            <label for="4">Example select</label>
            <select class="form-control" id="4" [(ngModel)]="selectedVehicule">
                <option>Car</option>
                <option>Van</option>
            </select>
        </div>
        <button type="submit" (click)="save($event)" class="btn btn-primary">Save</button>
    </form>

</div>